@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

* {
    font-family: "Nunito", sans-serif;
    box-sizing: inherit;
}

.heading,
.recipe-title {
    text-align: center;
}

.center {
    text-align: center;
}

.logo {
    height: auto;
    width: 80px;
    margin: 10px;
    text-align: center;
}

body {
    background: #ffffff;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

h3 {
    font-weight: 700;
}

img {
    height: 500px;
    width: 500px;
}

.item img:hover{
    transform: scale(1.05);
    transition: all ease;
    border-radius: 15px;
    box-shadow: 0 0 5px #f7de6c;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    padding: 10px;
    height: 200px;
    justify-content: center;
    margin-bottom: 100px;
}

.ingredients-box {
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    height: 400px;
    width: 500px;
    background-color: rgb(240, 236, 230);
}

.right-top {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.right-bot {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid black;
    height: 400px;
    width: 500px;
}
